site_name: useq-schema
site_url: https://pymmcore-plus.github.io/useq-schema
site_description: Implementation agnostic schema for microscopy experiments
# strict: true

repo_name: pymmcore-plus/useq-schema
repo_url: https://github.com/pymmcore-plus/useq-schema
edit_uri: ""
# use_directory_urls: false

watch:
  - src

nav:
  - pymmcore-plus: /pymmcore-plus/
  - useq-schema:
      - index.md
      - Schema:
        - schema/sequence.md
        - schema/event.md
        - schema/axes.md
        - schema/hardware_autofocus.md
      - api.md
  - pymmcore-widgets: /pymmcore-widgets/
  - napari-micromanager: /napari-micromanager/

theme:
  name: "material"
  features:
    - content.tabs.link
    - navigation.tabs
  icon:
    logo: fontawesome/solid/microscope
    repo: fontawesome/brands/github
  favicon: docs/images/favicon.ico
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: dark blue
      accent: dark blue
      toggle:
        icon: material/lightbulb-outline
        name: "Switch to dark mode"
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: light green
      toggle:
        icon: material/lightbulb
        name: "Switch to light mode"

markdown_extensions:
  - tables
  - toc:
      permalink: "#"
  - admonition
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
          options:
            heading_level: 3 # default is 2
            show_root_heading: true # default is false
            show_root_full_path: false # default is true
            docstring_style: 'numpy'
            show_signature: false  # default is true
            annotations_path: 'source' # default is 'brief'
            show_bases: false # default is true
            show_source: false # default is true

extra_css:
  - stylesheets/extra.css
