name: tests

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request: {}
  workflow_dispatch:

jobs:
  check-manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pip3 install check-manifest && check-manifest

  test:
    name: ${{ matrix.platform }} (${{ matrix.python-version }})
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", "3.11"]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[test]

      - name: Test
        run: pytest -v --color=yes --cov-report=xml --cov=useq

      - name: Coverage
        uses: codecov/codecov-action@v3

  test_pymmcore:
    name: Test pymmcore-plus
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: pymmcore-plus/pymmcore-plus
          path: pymmcore-plus-from-github

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e pymmcore-plus-from-github[testing]
          pip install -e .[test]

      - name: Install Micro-Manager
        run: mmcore install

      - name: Test
        run: pytest -v --color=yes
        working-directory: pymmcore-plus-from-github

  test_pymmcore_widgets:
    name: Test pymmcore-widgets
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: pymmcore-plus/pymmcore-widgets
          path: pymmcore-widgets-from-github

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e pymmcore-widgets-from-github[test,image,pyqt6]
          pip install -e .[test]

      - name: Install Micro-Manager
        run: mmcore install

      - name: Test
        run: pytest -v --color=yes -W ignore
        working-directory: pymmcore-widgets-from-github

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'pymmcore-plus/useq-schema' && contains(github.ref, 'tags') }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: install
        run: |
          git tag
          pip install -U pip
          pip install -U build twine
          python -m build
          twine check dist/*
          ls -lh dist

      - name: Build and publish
        run: twine upload dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TWINE_API_KEY }}

      - uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
